/***************************************
 *   ___  ___  ___ 
 *  / __)/ __)/ __)
 * ( (__ \__ \\__ \
 *  \___)(___/(___/
 *
 *   Common Styles
 *   Copyright 2011, Michael Bertsch
 * 
 ***************************************/

/***** Common *****/
html {
	background: url("images/bg.jpg") no-repeat fixed center top #0b0b0b;	
}
body {
  font-family: Arial, Verdana, sans-serif;
  margin: 0px auto;
  color: #fff;
}

a:link { color: #fff; font-style: italic;}
a:visited { color: #fff; }
a:active { color:#ABB41D; }
a:hover { color: #ABB41D; }

::-moz-selection{
	color: #fff;
	background: #ABB41D;
}
::selection {
	color: #fff;
	background: #ABB41D;
}
p, li {
	line-height: 1.35em;	
}
h1 {
	color: #ABB41D;
}

/*
#home a {
	background: url(images/logo.png) no-repeat;
	z-index: 10;
	display: block;
	margin: 0px auto;
	width: 1000px;
	height: 199px;
	position: absolute;
	margin-top: -100px;
	margin-left: -500px;
	top: 50%;
	left: 50%;
	opacity: 0.7;
	filter: alpha(opacity=70);
	outline: 0;		
}
*/

#home a {
	background: url(images/logo.png) center no-repeat;
	z-index: 10;
	display: block;
	width: 900px;
	height: 200px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	outline: 0;
}
	
/* Change the width of the entire slider (without dynamic arrows) */
.coda-slider, .coda-slider .panel { 
	width: 900px;
} 

/* Change margin and width of the slider (with dynamic arrows) */
.coda-slider-wrapper.arrows .coda-slider {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -450px !important;
	//border: 1px red solid;
}

.coda-slider-wrapper.arrows .coda-slider { margin: 0 10px }

/* Arrow styling */
.coda-nav-left a, .coda-nav-right a {
	font-size: 5em;
	color: #fff;
	width: 100px;
	outline: 0;
}
.coda-nav-left a:hover, .coda-nav-right a:hover {	
	 color: #d2d723;
}
.coda-nav-left,
.coda-nav-right {
	opacity: 0.7;
	filter: alpha(opacity=70);	
	position: absolute;
	top: 50%;	
	margin-top: -50px;
}
.coda-nav-left {
	left: 0;
}
.coda-nav-right {
	right: 0;	
}


/* Tab nav */
.coda-nav ul li a.current  { background: #d2d723 }

/* Preloader */
.coda-slider p.loading { display: none; }


/* Tabbed nav */
.coda-nav ul { 
	display: block;
	position: absolute;
	left: 50%;
	margin: 0px;
	margin-left: -20px;
	padding: 0px;
	overflow: hidden;
}
.coda-nav ul li { display: inline }
.coda-nav ul li a { background: #000; color: #fff; display: block; float: left; margin-right: 1px; padding: 3px 6px; text-decoration: none; outline: 0; }

/* Miscellaneous */
.coda-slider-wrapper { clear: both; overflow: auto }
.coda-slider { float: left; overflow: hidden; position: relative }
.coda-slider .panel { display: block; float: left }
.coda-slider .panel-container { position: relative }

.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
	
	
/*** About Panel ***/
#about-info {
	background: #444;
	float: right;
	padding: 20px;
	display: block;
	margin: 0;
	list-style-type: none;
	border-bottom: 4px #ABB41D solid;
	opacity: 0.7;
	filter: alpha(opacity=70);		
}
#about-info:hover {
	opacity: 1;
	filter: alpha(opacity=100);		
}
#about-info li {
	line-height: 1.5em;	
}
#about-info li.sep {
	margin-bottom: 15px;
}
#about-info li img {
	margin-right: 10px;
}
#about-info li small {
	margin-left: 35px;	
}

/*** Contact Panel ***/
input, textarea {
	font-family: Arial, Verdana, sans-serif;
	background: #3e3e3e;
	border: 1px #3e3e3e solid;
	color: #e6e5dd;
	display: block;
	margin-bottom: 10px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background: #4e4e4e;
}
input.button:active {
	background: #6e6e6e;
}
input.invalid, textarea.invalid {
	background: #3e3e3e;
	color: #e6e5dd;	
}

input.button {
	margin-bottom: 10px;
	padding: 3px 13px;
	float: right;
}
label {
	font-weight: bold;
}
label span {
	/* Required field */
	font-size: 0.9em;
	font-weight: normal;
	color: #888;
}
#contact-wrapper {
	margin-left: 120px;
}
#contact-left {
	float: left;
	margin-right: 30px;	
}
#contact-right {
	float: left;	
}
textarea#contact-body {
	resize: none;
}

#contact-wrapper #message {
	margin: 10px 0px;
	font-weight: bold;
}

#contact-wrapper #message.sent {
	color: #ABB41D;
}
#contact-wrapper #message.error {
	color: #ce0c0c;
}