/***************************************
 *   ___  ___  ___ 
 *  / __)/ __)/ __)
 * ( (__ \__ \\__ \
 *  \___)(___/(___/
 *
 *   Copyright 2018, Michael Bertsch
 * 
 ***************************************/

html {
	background: url("images/bg.jpg") no-repeat fixed center top #0b0b0b;	
}
body {
  font-family: Arial, Verdana, sans-serif;
  margin: 0px auto;
  color: #fff;
}

a:link { color: #fff; }
a:visited { color: #fff; }
a:active { color:#6b809e; }
a:hover { color: #6b809e; }

::-moz-selection{
	color: #fff;
	background: #6b809e;
}
::selection {
	color: #fff;
	background: #6b809e;
}

h1 {
	color: #6b809e;
	font-size: 2.5em;
	margin-bottom:0;
}
h2 {
	color: #fff;
	font-size: 1.26em;
	margin: 5px 0px 30px 0px;
}
.fas,
.fab {
	text-decoration: none;
	font-size: 1.4em;
	margin-right: 15px;
}

#container {
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -150px;
}

.location {
	float: right;
	margin-top: 3px;
}

#logo {
    position: relative;
	display: block;
	width: 300px;
	height: 200px;
    text-align: center;
    background: url(images/logo.png)  no-repeat center;
}
#logo::before {
    content: '';
    position: absolute;
    left: 0; top: 0; right:0; bottom: 0;
    background: url(images/me.png) no-repeat center;
    background-size: inherit;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#logo:hover::before {
    opacity: 1;
}

a.tip span {
    margin: 10px;
    margin-left: -20px;
	position: absolute;
	bottom: -45px;
    font-size: 0.8em;
	opacity: 0;
    z-index: 100;
    background: #000;
	color: #fff;
	border-radius: 8px;
    padding: 5px 8px;
    display: block;
}
a.tip:hover span {
	opacity: 1;
	transition: 0.9s;
}